---
// src/components/common/Container.astro
interface Props {
  class?: string;
}
const { class: className = '' } = Astro.props;
---
<div style={`max-width: var(--container-max)`} class={`mx-auto px-6 ${className}`}>
  <slot />
</div>
